# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env
.venv
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# VS Code
.vscode/

# macOS system files
.DS_Store

# Poetry cache (optional)
.cache/